h3 {
   color: #D8BFD8;
   font-weight: bold; 
   font-style: italic;
   text-align: center;
   border-bottom: 1px solid black;
}

h1 {
	text-align: center;
}

h5 {
	font-weight: 600px;
}

body {
	background-color: #ede7f6; 

}

html{
    border: 1px solid;
}
